<div class="work production container-fluid">
	<div class="row">
		<div class="separator col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="blue-line">
			&nbsp;
			</div>
			<div class="year">
				2014
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center">
			<div class="thumbnails legato">
				<div class="thumbnails-flipper">
					<div class="thumbnails-bg">
					</div>		
					<div class="thumbnails-info">
						<p class="movie-title">Graduation Movie</p>
						<p class="movie-role">Project Lead<br/>Dynamics - Shading<br/>Lighting - Rendering<br/>Compositing</p>                                        
						<p class="movie-link"><a href="https://vimeo.com/99111560" target="_blank">View it</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>