/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require_tree ./admin
 *= require scaffolds
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/*** GENERAL ***/
html {
	/*overflow-y: scroll;*/
	height: 100%;
}

body {
	padding-top: 60px;
	position: relative;
	height: 100%;
	overflow: auto;
	max-width: 100%;
	overflow-x: hidden;
	/*display: inline-flex;*/
}

/*** HEADER ***/
header .navbar {
	.navbar-header {
		.navbar-toggle {
			&.menu {
				float: left;
				margin-right: 0px;
				margin-left: 15px;
			}

			&.settings {
				line-height: 0;
			}
		}
	}
}

/*** NAVBAR ***/
#navbar-menu {
	position: absolute;
	margin-top: -10px;
	height: calc(100% - 50px) !important;
	width: 160px;
	background-color: #222222;
	color: #333333;

	li {
		width: 100%;

		a:hover {
			color: white;
			background-color: transparent;
		}
	}
}

#navbar-menu + .content {
	width: 100%;
}

@media (min-width: 768px) {
	#navbar-menu + .content {
		padding-left: 170px;
	}
}

/*** ***/
/* Overwrite Bootsraap */
a:hover, a:focus {
  color: inherit;
  text-decoration: inherit;
  font-weight: bold;
  background-color: transparent; //#9d9d9d;
}

i.fa-trash-o{
	color: #df3e3e;
}

/*** INDEX ***/
table.index {
	width: 550px;
	
	span.actions {
		display: none;
		float: right;
	}
	tr:hover, tr:hover {
		span.actions {
			display: block;
		}
		a {
			font-weight: bold;
		}
	}
}

/*** FORM ***/
form .format {
	font-style: italic;
	font-size: smaller;
}